#root {
  height: 100vh;
}

body {
  font: 11px Arial;
  font-variant-numeric: tabular-nums;
  line-height: 1.5;
  width: 800px;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 small {
  font: bold 12px Arial;
}

.viz-peers,
.viz-blocks,
.viz-mempool {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.viz-blocks {
  height: 150px;
}

.viz-mempool {
  height: 200px;
}

.viz-peers {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(5, 140px);
  grid-auto-flow: column;
  grid-gap: 6px;
  justify-content: space-between;
}

.viz-peer {
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
}

.viz-peer-country {
  display: inline-block;
  font-weight: bold;
  width: 16px;
}

.viz-peer-ip {
  display: inline-block;
  width: 70px;
}

.viz-blocks hr {
  border: none;
  border-top: 1px solid #333;
  margin-top: 22px;
}

.viz-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
}

.viz-block-txs {
  position: relative;
  margin-top: 2px;
}

.viz-block-box {
  box-shadow: 0 0 0 6px #fff;
  width: 100%;
  border: 1px solid #333;
  padding: 6px;
}

.viz-block-gas {
  color: #888;
}

.viz-tx {
  position: absolute;
  width: 2px;
  height: 2px;
  border: none;
  background-color: #ccc;
}

.viz-tx-succeeded {
  background-color: #070;
}

.viz-tx-reverted {
  background-color: #b00;
}
