#root {
  height: 100vh;
}

body {
  font: 11px Arial;
  line-height: 1.5;
  width: 800px;
  margin: 0 auto;
}

div {
  box-sizing: border-box;
}

.viz-peers,
.viz-blocks,
.viz-mempool {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.viz-blocks {
  height: 150px;
}

.viz-mempool {
  height: 200px;
}

.viz-peers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 92px);
  grid-gap: 6px;
  justify-content: space-between;
}

.viz-peers::after {
  content: '';
  flex: auto;
}

.viz-peer {
  font-size: 9px;
  padding: 6px;
  border: 1px solid #666;
  margin: 4px 0;
}

.viz-peer-inner {
  white-space: nowrap;
  overflow: hidden;
}

.viz-blocks hr {
  border: none;
  border-top: 1px solid #333;
  margin-top: 22px;
}

.viz-block {
  position: absolute;
  top: 0;
  right: 0;
  width: 74px;
  background-color: #fff;
  transition: right 0.3s ease-in-out;
}

.viz-block-txs {
  position: relative;
  margin-top: 2px;
}

.viz-block-box {
  box-shadow: 0 0 0 6px #fff;
  width: 100%;
  border: 1px solid #333;
  padding: 6px;
}

.viz-block-num {
  font-weight: bold;
}

.viz-block-gas {
  color: #888;
}

.viz-tx {
  position: absolute;
  width: 2px;
  height: 2px;
  border: none;
  background-color: #ccc;
}

.viz-tx-succeeded {
  background-color: #070;
}

.viz-tx-reverted {
  background-color: #b00;
}
